.navbar {
   line-height: 1.5;
}

.menu-item {
  list-style: none;
  float:left;
  padding-left:1.5rem;
  font-size: 16px;
}

.menu-item:hover {
  color: navy;
}

.circles {
  float: right;
  margin-left: 70px;
  margin-top: 0px;
}

.search {
  line-height: 28px;
  width: 165px;
  cursor: 10px;
}

::placeholder {
  font-size: 13px; 
  padding-left: 10px;
}

.search-box{
  float:left;
  padding: 0px 0px 0px 30px;
}

.logo {
  width: 150px;
  height: auto;
  float: left;
}

.menu {
  float:left;
  margin: 6px 0px 0px 0px;
  color: #0f65ef;
  font-family: Lato,Helvetica,Arial,sans-serif;
}

.navbar {

}

.row {
  margin: 20px;
  float: left;
  height: 100%;
}

